/* .container {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 150px 300px;
	grid-gap: 20px;
} */

/* .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 300px;
	grid-gap: 20px;
} */

/* .container {
	display: grid;
	grid-template-columns: 200px 1fr 1fr 1fr 300px;
	grid-template-rows: 150px 300px;
	grid-gap: 20px;
} */

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 150px 300px;
	grid-gap: 20px;
}
