.container {
	display: grid;
	grid-gap: 20px;
	/* grid-template-columns: 200px 200px; */
	/* grid-template-columns: 200px 1fr; */
	grid-template-columns: minmax(300px, 1fr) 1fr;
	/* grid-template-rows: minmax(150px, 200px) 400px; */
	grid-template-rows: minmax(150px, auto) 400px;
}
