body {
	background-color: #eeeeee;
	color: #000;
}

.header p {
	font-size: 50px;
	text-align: center;
	padding: 20px 0;
}

.container {
	width: 90%;
	max-width: 1000px;
	border: 5px solid #000;
	margin: auto;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

.container > div {
	display: block;
	padding: 20px;
	color: #fff;
	background: #2f89fc;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}
